body {
	box-sizing: border-box;
}

#buttons {
	width: 270px;
}

input {
	display: inline-block;
	border: 2px gray solid;
	width: 80px;
	height: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	background-color: lightgray;
	font-weight: bold;
	font-size: 20px;
}

#calcfield {
	width: 244px;
	background-color: lightgrey;
	border: 2px gray solid;
}